<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid text-center">
      <a class="navbar-brand" href="/"><img src="assets/images/tennis.jpeg" alt="Logo" height="60" width="70">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Elite Opens </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
        <ul class="navbar-nav ml-auto">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <!--if statement used for active and inactive tabs-->   

            
                <li class="nav-item active">
  
              <li class="nav-item">
   
            <a class="nav-link" aria-current="page" href="/home"><i class="fas fa-home"></i> Home</a>
            </li>
           
           
                <li class="nav-item active">
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/complete"><i class="fas fa-list-ul"></i> Completed Tournament</a>
                  </li>
                 
                      
              <li class="nav-item active">   
              <li class="nav-item">    
              <a class="nav-link" aria-current="page" href="/list"><i class="fas fa-id-card"></i> Active Tournament</a>
            </li>

            <li *ngIf='isLoggedIn()' class="nav-item ml-5 " [routerLinkActive]="['active']">
              <a class="nav-link text-warning" routerLink="/admin/main"><i class="fas fa-lg fa-user-shield"></i> Admin </a>
            </li>
    
            <li *ngIf='isLoggedIn()'
                class="navbar-text text-success ml-5 mr-5 d-none d-lg-inline">
                <i class="fas fa-lg fa-user"></i> Welcome, {{ user.displayName }}
            </li>
    
    
            <li *ngIf='isLoggedIn()' class="nav-item">
              <a (click)='onLogoutClick()' routerLink='/logout' class="nav-link" href="/login">
                <i class="fas fa-lg fa-sign-out-alt"></i> Logout </a>
            </li>
    
            <li *ngIf='!isLoggedIn()' class="nav-item">
              <a class="nav-link" routerLink="/login"><i class="fas fa-lg fa-sign-in-alt"></i> Login </a>
            </li>
            
            </ul>
            <ul class="navbar-nav">
              
  
    
                
                    
        </ul>

        
        
      </div>
    </div>
  </nav>