


<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid" >
        <div class="container text-center">
        <a class="navbar-brand" href="/"><span class="copyright">&copy;</span> All 2022 Rights reserved by Elite Opens</a>
        </div>
    </div>
  </nav>