

 <% include partials/header.ejs %>
 <body class="d-flex flex-column h-1000 mb-5" style="background-color: rgb(0, 0, 0);" >
   <header>      
     <%- include partials/main_nav.ejs %>
   </header>
     <main class="flex-shrink-0">
       <div class="container mt-4 mb-2" style="box-shadow: 1px 1px 5px 3px rgb(41 55 74); background-color: rgba(61, 61, 61, 0.815);">
         <div class="row" style="height: 100%;" >
           <% if(title == "Home") { %> 
             <%- include Pages/home %>

             <%} else if(title == "Complete") { %> 
              <%- include Pages/complete %>
            

 
            <%} else if(title == "Login") { %> 
             <%- include auth/login %>
           <% } %>           
         </div>
     </main>   
 <%include partials/bottom_nav.ejs %>
 
 <% include partials/footer.ejs %>
 
 
 
 