<app-basepage></app-basepage>

<!-- mx-1 my-1 for the first div class -->
<div class="col-md-12">
    <div class="col-md-12 text-center">
        <h1 class="text-black"><i class="fas fa-praying-hands"></i> Welcome To Elite Opens</h1>
        <p class="text-black">Hosted by Elite Opens</p>
        <div >
            <!-- <button class="btn btn-outline-info btn-block btn-lg"><a href="/Client/src/app/admin/admin.module.ts">Create a Tournament</a></button> -->
            <img src="..//../assets/images/tennis.jpeg" class="card-img" alt="background image">
        </div>
    </div>
</div>