<div class="bg-primary p-2 text-white bg-dark"
  [class.bg-warning]='editing'
  [class.text-dark]='editing'>
  <h5>{{ editing ? 'Edit' : 'Add'}}Tournament</h5>
</div>
<form novalidate #form='ngForm' (ngSubmit)='save(form)'>

  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name="name" [(ngModel)]='tournament.name'>
  </div>

  <div class="form-group">
    <label>Location</label>
    <input type="text" class="form-control" name="location" [(ngModel)]='tournament.location'>
  </div>

 <div class="form-group">
    <label>Start Date</label>
    <input type="text" class="form-control" name="startdate" [(ngModel)]='tournament.startDate'>
  </div>

  <div class="form-group">
    <label>Entry Fee</label>
    <input type="text" class="form-control" name="entryfee" [(ngModel)]='tournament.entryFee'>
  </div>
  
  <div class="form-group">
    <label>Status</label>
    <input type="text" class="form-control" name="status" [(ngModel)]='tournament.status'>
  </div>


  <!-- <div class="form-group">
    <div class="input-group-prepend">
      <label>Status</label>
    </div>
    <select class="form-control" name="status" [(ngModel)]='tournament.status'>
      <option value="Active" name="status" [(ngModel)]='tournament.status'>Active</option>
      <option value="Completed" name="status" [(ngModel)]='tournament.status'>Completed</option>
    </select>
  </div> -->



  <button type='submit' class="btn btn-primary m-1" [class.btn-warning]='editing'>
    <i class="{{editing ? 'fas fa-save' : 'fas fa-plus-circle' }}"></i> {{ editing ? "Save" : "Add" }}
  </button>
  <button type='reset' class="btn btn-secondary" routerLink='/admin/main/tournaments'>
    <i class="fas fa-undo"></i> Cancel
  </button>
</form>
