
<style>
  table, th, td {
    border:1px solid rgb(245, 235, 235);
  }
  </style>
<div class="col-md-12 mx-2 my-2">
    <div class="col-md-12 text-center">
        <h1 class="text-white"><i class="fas fa-praying-hands"></i> Welcome To Elite Opens</h1>
    <br>
    <br>
    <u><h2><p class="text-white">Completed Tournaments</p></h2></u>

    <br>
    <table style="width:100%" class="text-white">
        <tr>
          <th>Name</th>
          <th>End Date</th>
          <th>Location</th>
        </tr>
        
          
        
      </table>
    
    
</div>