

  <div class="col-md-12 mx-2 my-2">
    <div class="col-md-12 text-center">
        <h1 class="text-white"><i class="fas fa-praying-hands"></i> Welcome To Elite Opens</h1>
    <br>
    <br>
    <p class="text-white">Presented By Elite Opens</p>
    <br>
    <div >
            
        <img src="/images/tennis.jpeg" class="card-img" alt="background image" >  
        </div>
        </p>
    </div>
    
</div>